<ion-header>
  <ion-toolbar>
    <ion-title>
      <section class="title-banner">
        <span>
          <ion-icon name="menu"></ion-icon>
        </span>
        <span>
          <section>Expenses</section>
        </span>
        <span>
          <ion-icon name="calendar"></ion-icon>
        </span>
      </section>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="expenseFormGroup">
    <ion-list>
      <ion-list-header>
        <ion-label>{{!expenseModelId ? 'Add an': 'Edit the'}} expense</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Payment category</ion-label>
        <ion-select formControlName="selectedChipId" (ionChange)="addChip()" interface="action-sheet">
          <ion-select-option *ngFor="let masterChip of masterChipsList" [value]="masterChip.id">{{masterChip.title}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="chip-list">
        <ion-chip *ngFor="let chip of chips">
          <ion-label color="primary">{{ chip.title }}</ion-label>
          <ion-icon name="close" color="danger" (click)="removeChip(chip.id)"></ion-icon>
        </ion-chip>
      </ion-item>

      <ion-item>
        <ion-label>Area of payment</ion-label>
        <ion-select formControlName="areaOfPayment" (ionChange)="getItemsOrServices(undefined)" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
          <ion-select-option *ngFor="let areaOfPaymentOption of areaOfPaymentOptions" [value]="areaOfPaymentOption">{{areaOfPaymentOption}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="expenseFormGroup.value.areaOfPayment">
        <ion-label>Item or service</ion-label>
        <ion-select formControlName="itemOrService" interface="action-sheet">
          <ion-select-option *ngFor="let itemOrServiceOption of itemOrServiceOptions" [value]="itemOrServiceOption">{{itemOrServiceOption}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="expenseFormGroup.value.itemOrService">
        <ion-label>Mode of payment</ion-label>
        <ion-select formControlName="modeOfPayment" interface="action-sheet">
          <ion-select-option *ngFor="let modeOfPaymentOption of modeOfPaymentOptions" [value]="modeOfPaymentOption">{{modeOfPaymentOption}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="expenseFormGroup.value.modeOfPayment">
        <ion-label>How much money?</ion-label>
        <ion-input type="number" value="0" formControlName="howMuchMoney"></ion-input>
      </ion-item>

      <ion-item *ngIf="expenseFormGroup.value.howMuchMoney > 0">
        <ion-label>Currency type</ion-label>
        <ion-select formControlName="currencyType" interface="action-sheet">
          <ion-select-option *ngFor="let currencyTypeOption of currencyTypeOptions" [value]="currencyTypeOption">{{currencyTypeOption}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Payment Date</ion-label>
        <ion-datetime formControlName="transactionDatetime" displayFormat="D MMM YYYY H:mm" min="2020" max="2025" minuteValues="0,15,30,45"></ion-datetime>
      </ion-item>

      <!-- Textarea with custom number of rows and cols -->
      <ion-item>
        <ion-label>Notes</ion-label>
        <ion-textarea formControlName="transactionNotes" rows="2" cols="20" placeholder="Enter any notes here..."></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-button type="submit" (click)="!expenseModelId ? addExpense(): editExpense(expenseModelId)">{{!expenseModelId? 'Add': 'Edit'}} expense</ion-button>
      </ion-item>
    </ion-list>
  </form>

  <ion-list>
    <ion-list-header>
      <ion-label>Recurrent transactions</ion-label>
    </ion-list-header>    
    <ion-item *ngFor="let expenseModel of recurrentExpenseModels">
      <ion-label (click)="fillFrequentExpenseModel(expenseModel.id)" class="expense-label">{{expenseModel.areaOfPayment + ' | ' + expenseModel.modeOfPayment + ' | ' + expenseModel.itemOrService}}</ion-label>
      <span (click)="fillFrequentExpenseModel(expenseModel.id)" class="expense-figure">{{expenseModel.howMuchMoney | number : '1.2-2'}}</span>
    </ion-item>
  </ion-list>
</ion-content>
