<ion-header>
  <ion-toolbar>
    <ion-title>
      iBudget
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="income-label">In wallet</ion-label>
      <span class="income-figure">{{getRemainingSumOfMoney()}}</span>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Money overview</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let incomeModel of commonService.incomeModels">
      <ion-label class="income-label">{{incomeModel.incomeSource}}</ion-label>
      <span class="income-figure">{{incomeModel.howMuchMoney | number : '1.2-2'}}</span>
      <span class="close-button" (click)="deleteIncomeTransaction(incomeModel.id)">X</span>
    </ion-item>
    <ion-item *ngFor="let expenseModel of commonService.expenseModels">
      <ion-label class="expense-label">{{expenseModel.transactionDatetime + ' | ' + expenseModel.areaOfPayment + ' | ' + expenseModel.modeOfPayment + ' | ' + expenseModel.itemOrService}}</ion-label>
      <span class="expense-figure">{{expenseModel.howMuchMoney | number : '1.2-2'}}</span>
      <span class="close-button" (click)="deleteExpenseTransaction(expenseModel.id)">X</span>
    </ion-item>
  </ion-list>
</ion-content>
