<ion-header>
  <ion-toolbar>
    <ion-title>
      <section class="title-banner">
        <span>
          <ion-icon name="menu"></ion-icon>
        </span>
        <span>
          <section>iBudget</section>
          <section>{{getRemainingSumOfMoney()}}</section>
        </span>
        <span>
          <ion-icon name="calendar" (click)="openCalendarAsync()"></ion-icon>
        </span>
      </section>
      <!--<button class="hidden-button" (click)=hidePrivateExpenses()></button>-->
      <section class="month-selector">
        <ion-icon name="arrow-round-back" (click)="goBack()"></ion-icon>
        <ion-select cancelText="Nah" okText="Okay!" [(ngModel)]="monthOption" (ionChange)="fire()">
          <ion-select-option *ngFor="let _monthOption_ of monthOptions" [value]="_monthOption_">{{_monthOption_}}</ion-select-option>
        </ion-select>
        <ion-icon name="arrow-round-forward" (click)="goForward()"></ion-icon>
      </section>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<span (click)="buttonAsync()">Button</span>-->
  <section class="expense-items-section">
    <span class="title">Expense</span>
    <span>
      <app-node [nodes]="expenseNodeModel.childrenNodes" *ngIf="expenseNodeModel"></app-node>
    </span>
  </section>

  <!--<section class="income-items-section">
    <span class="title">Income</span>
    <span>
      <app-node [nodes]="incomeNodeModel.childrenNodes" *ngIf="incomeNodeModel"></app-node>
    </span>
  </section>-->

  <!--<ion-calendar [(ngModel)]="dateRange"
                [options]="optionsRange"
                [type]="type"
                [format]="'YYYY-MM-DD'">
  </ion-calendar>-->
</ion-content>
